/Datasets/synth_dataset
/Datasets/raw_dataset
/Datasets/dataset/train
/Datasets/dataset/test
/Datasets/raw_dataset.zip
/02 Train Stable Diffusion/.ipynb_checkpoints
/Datasets/.ipynb_checkpoints/
/01 Create Dataset/.ipynb_checkpoints/
